# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.eggs/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docker
Dockerfile*
docker-compose*

# Docs
*.md
docs/

# Node
node_modules/
frontend/node_modules/

# Misc
.env
.env.*
*.log
tmp/
temp/
